<footer class="bg-gray-900 text-gray-300 text-center mt-12 pt-8 pb-8">
  <p>
     Copyright &copy; 2021 - <%= Time.now.year %>
    <%= link_to "Conrad Taylor", "https://conradwt.github.io", class: "hover:underline" %>. All rights reserved.
  </p>
</footer>
